In [1]:
!pip install seaborn

Requirement already satisfied: seaborn in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (0.11.1)
Requirement already satisfied: matplotlib>=2.2 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from seaborn) (3.3.4)
Requirement already satisfied: numpy>=1.15 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from seaborn) (1.20.1)
Requirement already satisfied: scipy>=1.0 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from seaborn) (1.6.2)
Requirement already satisfied: pandas>=0.23 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from seaborn) (1.2.4)
Requirement already satisfied: python-dateutil>=2.1 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: six in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2021.1)

In [2]:
# The %... is an iPython thing, and is not part of the Python language.
# In this case we're just telling the plotting library to draw things on
# the notebook, instead of on a separate window.
%matplotlib inline 
#this line above prepares IPython notebook for working with matplotlib

# See all the "as ..." contructs? They're just aliasing the package names.
# That way we can call methods like plt.plot() instead of matplotlib.pyplot.plot().

import numpy as np # imports a fast numerical programming library
import scipy as sp #imports stats functions, amongst other things
import matplotlib as mpl # this actually imports matplotlib
import matplotlib.cm as cm #allows us easy access to colormaps
import matplotlib.pyplot as plt #sets up plotting under plt
import pandas as pd #lets us handle data as dataframes
#sets up pandas table display
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns #sets up styles and gives us more plotting options

In [3]:
## all imports
from IPython.display import HTML
import numpy as np
import urllib2
import bs4 #this is beautiful soup
import time
import operator
import socket
import cPickle
import re # regular expressions

from pandas import Series
import pandas as pd
from pandas import DataFrame

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_context("talk")
sns.set_style("white")

ModuleNotFoundError: No module named 'urllib2'

In [4]:
print ("Hello CS109")

print ("I love IPython")

# Ipython notebook have tab completion!
# and inbuild hellp
  
a = np.zeros(3)

Hello CS109
I love IPython

# Read the user data

In [5]:

# pass in column names for each CSV
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']

users = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.user', 
    sep='|', names=u_cols)

users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

# Read the ratings

In [6]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.data', 
    sep='\t', names=r_cols)

ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

# Now data about the movies

In [7]:
# the movies file contains columns indicating the movie's genres
# let's only load the first five columns of the file with usecols
m_cols = ['movie_id', 'title', 'release_date', 
            'video_release_date', 'imdb_url']

movies = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.item', 
    sep='|', names = m_cols, usecols=range(5))

movies.head()

print (movies.dtypes)
print
print (movies.describe())
# *** Why only those two columns? ***

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 76620: invalid continuation byte

In [8]:
users.head()
users['occupation'].head()
## *** Where did the nice design go? ***

columns_you_want = ['occupation', 'sex'] 

print (users[columns_you_want].head())

#print (users.head())

#print (users.iloc[3])

   occupation sex
0  technician   M
1       other   F
2      writer   M
3  technician   M
4       other   F

In [9]:
#users.age>25
oldUsers = users[users.age < 10]
oldUsers.head()

    user_id  age sex occupation zip_code
29       30    7   M    student    55436

# Quiz

In [10]:
#show users aged 40 and male


users[(users.age == 40) & (users.sex == 'M')].head(5)

     user_id  age sex  occupation zip_code
18        19   40   M   librarian    02138
82        83   40   M       other    44133
115      116   40   M  healthcare    97232
199      200   40   M  programmer    93402
283      284   40   M   executive    92629

In [11]:
#show the female programmers
#user_selected = users[(users.sex == 'F') & (users.occupation == 'programmer')]
#print (user_selected)

# show the mean age of female programmers
user_selected = users[(users.sex == 'F') & (users.occupation == 'programmer')]
print (user_selected.describe())

# or alternativly 
#print (user_selected['age'].mean())
#print (user_selected.age.mean())

          user_id        age
count    6.000000   6.000000
mean   411.166667  32.166667
std    149.987222   5.115336
min    292.000000  26.000000
25%    313.000000  28.250000
50%    378.000000  32.000000
75%    416.750000  36.500000
max    698.000000  38.000000

In [12]:
!pip install seaborn

# The %... is an iPython thing, and is not part of the Python language.
# In this case we're just telling the plotting library to draw things on
# the notebook, instead of on a separate window.
%matplotlib inline 
#this line above prepares IPython notebook for working with matplotlib

# See all the "as ..." contructs? They're just aliasing the package names.
# That way we can call methods like plt.plot() instead of matplotlib.pyplot.plot().

import numpy as np # imports a fast numerical programming library
import scipy as sp #imports stats functions, amongst other things
import matplotlib as mpl # this actually imports matplotlib
import matplotlib.cm as cm #allows us easy access to colormaps
import matplotlib.pyplot as plt #sets up plotting under plt
import pandas as pd #lets us handle data as dataframes
#sets up pandas table display
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns #sets up styles and gives us more plotting options

## all imports
from IPython.display import HTML
import numpy as np
import urllib2
import bs4 #this is beautiful soup
import time
import operator
import socket
import cPickle
import re # regular expressions

from pandas import Series
import pandas as pd
from pandas import DataFrame

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_context("talk")
sns.set_style("white")



print (movies.dtypes)
print
print (movies.describe())
# *** Why only those two columns? ***

users.head()
users['occupation'].head()
## *** Where did the nice design go? ***

columns_you_want = ['occupation', 'sex'] 

print (users[columns_you_want].head())

#print (users.head())

#print (users.iloc[3])

#users.age>25
oldUsers = users[users.age < 10]
oldUsers.head()

# Quiz

#show users aged 40 and male


users[(users.age == 40) & (users.sex == 'M')].head(5)


print (movies.dtypes)
print
print (movies.describe())
# *** Why only those two columns? ***

Requirement already satisfied: seaborn in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (0.11.1)
Requirement already satisfied: pandas>=0.23 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from seaborn) (1.2.4)
Requirement already satisfied: scipy>=1.0 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from seaborn) (1.6.2)
Requirement already satisfied: numpy>=1.15 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from seaborn) (1.20.1)
Requirement already satisfied: matplotlib>=2.2 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from seaborn) (3.3.4)
Requirement already satisfied: cycler>=0.10 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (8.2.0)
Requirement already satisfied: six in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /Users/snoorsalihi/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2021.1)

ModuleNotFoundError: No module named 'urllib2'

In [13]:
print ("Hello CS109")

print ("I love IPython")

# Ipython notebook have tab completion!
# and inbuild hellp
  
a = np.zeros(3)

Hello CS109
I love IPython

In [14]:
# pass in column names for each CSV
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']

users = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.user', 
    sep='|', names=u_cols)

users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [15]:
# Read the ratings

r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.data', 
    sep='\t', names=r_cols)

ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [19]:
# Now data about the movies


# the movies file contains columns indicating the movie's genres
# let's only load the first five columns of the file with usecols
m_cols = ['movie_id', 'title', 'release_date', 
            'video_release_date', 'imdb_url']

movies = pd.read_csv(
    'http://files.grouplens.org/datasets/movielens/ml-100k/u.item', 
    sep='|', names = m_cols, usecols=range(5))

movies.head(5)

print (movies.dtypes)
print
print (movies.describe())
# *** Why only those two columns? ***

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 76620: invalid continuation byte

In [18]:
print (movies.dtypes)
print
print (movies.describe())
# *** Why only those two columns? ***

NameError: name 'movies' is not defined

In [20]:
#show the female programmers
#user_selected = users[(users.sex == 'F') & (users.occupation == 'programmer')]
#print (user_selected)

# show the mean age of female programmers
user_selected = users[(users.sex == 'F') & (users.occupation == 'programmer')]
print (user_selected.describe())

# or alternativly 
#print (user_selected['age'].mean())
#print (user_selected.age.mean())

          user_id        age
count    6.000000   6.000000
mean   411.166667  32.166667
std    149.987222   5.115336
min    292.000000  26.000000
25%    313.000000  28.250000
50%    378.000000  32.000000
75%    416.750000  36.500000
max    698.000000  38.000000